.m-navbar
  background: #fff
  margin-bottom: 0
  border: none
  .nav
    width: 98%
    margin-left: 1%
  a.v-link-active,
  a.v-link-active:focus,
  a.v-link-active:hover
    background: #fff!important
    border-bottom: 2px solid #8ecdb0

@media (max-width: 768px)
  .navbar-cus
    .glyphicon
      font-size: 16px
