
/*cdn*/
.ul-list
  .version
    margin-right:50px
    color:#fff
  .btn-version-del
    position:absolute
    top:0
    right:0
    background-color :#7da1b6!important
    padding:12px 15px
    cursor: pointer
  .font
    font-size:14px!important
    font-weight: 400!important
    vertical-align:middle
.list-group-item
  color:#8bb3cb
  border:0
  width:100%
  &:nth-child(even)
    background-color:#f9f9f9
  &:nth-child(odd)
    background-color:#d7e3ef
  &:first-child
    color:#fff
    background-color:#8bb3cb!important
    border-top-left-radius: 0
    border-top-right-radius: 0
  &:last-child
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
  >a
    display:inline-block
    max-width:82%
    overflow: hidden
    text-overflow:ellipsis
    white-space:nowrap
    vertical-align:middle

.badge
  border-radius: 0
  background-color: transparent !important
  color:#8bb3cb
  cursor: pointer


//====================  适配小屏  ====================//

@media only screen and (max-width: 767px)
  .btn-copy
    display: none!important;















